# Ignorar carpetas que no quiero versionar
3dmodels/
resources/
symbols/
plugins/
footprints/

# Ignorar todo por defecto
*

# Permitir el .gitignore
!.gitignore

# Permitir todo lo que tenga Samacsys o Snapeda en el nombre
!Samacsys*/
!Samacsys.*
!Snapeda*/
!Snapeda.*
